/* Body styling */
body {
  background: hsla(240, 30%, 65%, 1);
  background: radial-gradient(circle, hsla(240, 30%, 65%, 1) 15%, hsla(257, 32%, 55%, 1) 47%, hsla(255, 31%, 54%, 1) 63%, hsla(228, 58%, 31%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(240, 30%, 65%, 1) 15%, hsla(257, 32%, 55%, 1) 47%, hsla(255, 31%, 54%, 1) 63%, hsla(228, 58%, 31%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(240, 30%, 65%, 1) 15%, hsla(257, 32%, 55%, 1) 47%, hsla(255, 31%, 54%, 1) 63%, hsla(228, 58%, 31%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8989C0", endColorstr="#7D68B1", GradientType=1 );
  color: #000000;
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')
    body{
      font-family: "Bebas Neue", sans-serif;
        }
        h1{
          font-family: "Bebas Neue", sans-serif;
        }
         p{
          font-family: "Bebas Neue", sans-serif;
        }
        h4{
          font-family: "Bebas Neue", sans-serif;
        }
        label{
          font-family: "Bebas Neue", sans-serif;
        }
        button{
          font-family: "Bebas Neue", sans-serif;
        }
 .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 1.65em;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;  
}


/* Heading Styles */
h1 {
  font-size: 50px;
  color: #000000;
  text-align: center;
}


/* Game Directions */
.description {
  text-align: center;
  margin: 80px auto 40px;
}


/* Submit Button, Columns, Questions, and Inputs */
.button-submit {
  background: transparent;
  border: 3px solid #000000;
  border-radius: 6px;
  color: #000000;
  cursor: pointer; 
  display: block;
  font-size: 24px;
  font-weight: bold;  
  margin: 0 auto 60px;
  padding: 1em 2em; 
  text-align: center; 
}

.bucket {
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
}

.choice-bucket {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 33.333333%;
}

.choice-bucket label {
  font-size: 18px;
  line-height: 13px;
  margin: 15px 4%;
}

.choice-bucket input {
  border: 0;
  border-radius: 6px;
  color: #000000;
  font-size: 18px;
  margin: 15px 4%;
  outline: 0;
  padding: 16px 0;
  text-indent: 20px;
  width: 92%;  
}

.choice-bucket label ~ input {
  margin-top: 0;
}

.highlight {
  font-size: 24px;
  line-height: 24px;
  margin-left: 30px;
  opacity: .8;
}



/* Answer Div */
#answers {
  margin: 60px 0;
  background: #BF8A88;
  border-radius: 6px;
  color: #000000;
  transition: 1s linear;
}

#answers p {
  max-width: 760px;
  margin: auto;
  padding: 20px 0;
}

#answers p span {
  font-weight: bold;
}


.hide {
  opacity: 0;
  height: 0;
}

.show {
  opacity: 1;
  height: 100%;
}